.panda-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.price-info {
    font-weight: 500;
    font-size: 41px;
    color: #FFC107;
}

.price-number {
    font-weight: 400;
    font-size: 24px;
}

.category-box1 {
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
    height: 120px;
    left: 68.17%;
    right: 0%;
    top: 0px;
}

.category-box2 {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    height: 120px;
    left: 68.17%;
    right: 0%;
    top: 0px;
}

.category-box3 {
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
    height: 120px;
    left: 68.17%;
    right: 0%;
    top: 0px;
}

.category img {
    width: 100px;

}